/* forum-regular - cyrillic */
@font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/forum-v16-cyrillic-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/forum-v16-cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin_cyrillic-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin_cyrillic-regular.svg#Raleway') format('svg');
    /* Legacy iOS */
}

/* raleway-500 - latin_cyrillic */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/raleway-v28-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/raleway-v28-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/raleway-v28-latin_cyrillic-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/raleway-v28-latin_cyrillic-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/raleway-v28-latin_cyrillic-500.svg#Raleway') format('svg');
    /* Legacy iOS */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    color: #000000;
    background-color: rgba(250, 180, 1, 0.26);
    ;

}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

.wrapper {
    max-width: 1412px;
    margin: 0 auto;

}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 75px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 67px;

}

.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-size: 22px;
    line-height: 45px;
    text-decoration: none;
    color: #000000;
}

.header__link:active,
.header__link:focus {
    opacity: .75;
}

/* Конец блока Header */


/* Блок main начала*/
.main {
    max-width: 1412px;
    margin: 0 auto;
    padding: 0 20px;
}

.intro {


    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 290px;


}

.intro__container {
    display: flex;
}

.intro__info {
    margin-right: 119px;
    align-items: center;

}

.intro__title {
    display: flex;
    max-width: 1409px;
    font-family: 'Forum', sans-serif;
    font-size: 94px;
    line-height: 102%;
    color: #282B00;
    margin-bottom: 91px;
}

.intro__photo-img {
    width: 337px;
    height: 556px;
}

.intro__subtitle {
    max-width: 595px;
    font-size: 26px;
    line-height: 147%;
}

.intro__subtitle:first-child {
    margin-bottom: 42px;
}

.ntro__photo-img {
    margin-right: 20px;
}

.ntro__photo-img:last-child {
    margin-right: 0;
}



.wrapper__card {
    margin-top: 170px;
    display: flex;
    align-items: flex-start;


}

.photo {
    margin-right: 113px;
}

.info__description:first-child {
    margin-bottom: 30px;
}

.info__description {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 147%;
}

.photo__info {

    text-decoration: none;
    font-size: 24px;
    line-height: 124%;
    color: #AEA9A9;

}

.amtors {
    border: 1.5px solid #282B00;
    margin-top: 77px;
}

.amtors__title {
    font-family: 'Fotum', sans-serif;
    font-size: 38px;
    line-height: 128%;
    color: #282B00;
    margin-top: 63px;
    margin-bottom: 41px;

}

.amtors__name {
    display: flex;
    max-width: 1181px;
    margin-bottom: 71px;

}

.amtors__name-first {
    margin-right: 90px;
}

.wrapper__amtors {
    margin-left: 99px;
    margin-right: 128;
    /* padding: 0 15px; */
}

.view-info {

    margin-top: 92px;
}

.container__view-info {
    display: flex;
    flex-direction: column;
}

.container__view-info a {
    text-decoration: none;
    margin-bottom: 32px;
    color: #282B00;
}


/* Конец блока main */


/* Начало блока Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 196px;
    margin-bottom: 122px;
}

.footer a {

    text-decoration: none;
    color: #000000;
    font-size: 22px;
    line-height: 174%;
}

.footer__link:active,
.footer__link:focus {
    opacity: .75;

}

/* Конец блока footer */
